<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ShoppingAppDatabase" providerName="Microsoft.Data.SqlClient" connectionString="Data Source=18C6KT2\SQLEXPRESS;Initial Catalog=ShoppingAppDatabase;Integrated Security=True; TrustServerCertificate=True"/>

	<add name="UserDatabase" 
		 connectionString="Data Source=SHARMS-LAPTOP\SQLEXPRESS;Initial Catalog=UserDatabase;Integrated Security=True; TrustServerCertificate=True"
		   providerName="Microsoft.Data.SqlClient"/>

  </connectionStrings>
</configuration>